[Desktop Entry]
Type=Application
Name=Ask the docs
Comment=An LLM-based help app that uses the official Ubuntu documentation.
Exec=ask-ubuntu-docs gui --copilot
Icon=${SNAP}/meta/gui/icon.svg
Categories=GNOME;GTK;Utility;
StartupNotify=true
Terminal=false
